
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*, :after, :before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:active, :focus {
    outline: 0;
}
a:active, a:focus {
    outline: 0;
}
aside, footer, header, nav {
    display: block;
}
body, html {
    height: fill-available;

    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%}


button, input, textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
img {
    max-width: 100%}
div {
    -webkit-tap-highlight-color: transparent;
}
.content {
    position: relative;
    flex: 1 1 auto;
}

body {
    min-height: 100%;
    color: #232233;
    font-family: 'Roboto';
   
    
}
    
.body_noScroll {
    overflow: hidden;
}
.wrapper {
    display: flex;
    position: relative;
    min-height: 100%;
    flex-direction: column;
}
a {
    color: inherit;
}
._container {
    max-width: 1364px;
    margin: 0 auto;
    padding: 0 10px;
}
._subtitle_grey {
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;

    color: #6D6D6D;
}
._button{
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    text-transform: uppercase;
    background: #222222;
    padding: 16px 16px 13px 16px;
    color: #FFFFFF;
}














.look {
    margin-top: 55px;
}
.look__container {
}
._container {
}
.look__row {
    display: flex;
}
.look__main__preview {
    flex: 1 1 auto;
    margin-bottom:56px;
    display: flex;
}
.look__subview__column {
    display: flex;
    flex-direction: column;

}
.look__subview__column img:not(:last-child){
    margin-bottom: 14px;

}
.look__subview__img {
}
.look__preview__item {
    flex: 1 1 auto;
    text-align: center;
}
.look__preview__img {
}






.look__info {
}
.look__info__general {
    position: relative;
}
.look__info__name {
    padding-bottom:15px ;
    font-weight: 900;
    font-size: 33px;
    line-height: 39px;
    text-transform: uppercase;

    color: #222222;
    max-width: 405px;
    position: relative;
}
.title__decor{
    color: #F15922;
    position: absolute;
    

}
.tdc_bottom{
    bottom: 0.24em; /* 8/33em */
    padding-left:10px;
  

}
.tdc_top{
    left: -14px;
   top: -0.24em; 
}

.look__info__price {
    padding-bottom:45px;
}
.look__price {
    
    font-weight: 900;
    font-size: 23px;
    padding:0px 12px 0px 3px;
    line-height: 27px;
    /* identical to box height */

    text-transform: uppercase;

    color: #222222;


}

.look__info__color::after ,.look__info__general::after ,.look::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    background: #D9D9D9;
}


.look__info__color {
    position: relative;
}
.info__placeholder {
    font-style: italic;
    color: #222222;
    padding:20px 0px;
}
.look__color__prev__row {
    display: flex;
    gap: 40px;
}
.look__prev__item {
    padding-bottom:26px;
    position: relative;
    cursor: pointer;
}
.look__prev__item::after ,.inform__tabs__item::after{
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 2px;
    bottom: 11px;
    transform: scaleX(0);
    background: #F15922;
    transition: transform 0.4s ease;
  
}
.look__prev__item:hover::after{
    transform: scaleX(0.78);
}
.look__prev__img {
}
.look__info__size {
}
.look__info__size__picker {
    display: flex;
}
.look__size__picker__item {
    width: 56px;
    height: 46px;
    display: flex;
    align-items: center;
   justify-content: center;
    border: 1px solid #6D6D6D;
}
.look__donwload {
    margin-top:30px;
    text-decoration:underline;
}


















.inform {
}
.inform__container {
}
.infrom__tab__row {
    display: flex;
    gap: 81px;
}


.inform__tabs__item:hover::after{
    transform: scaleX(1);
}
.inform__row__item {


}
.inform__tabs__panel {
    font-weight: 900;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height */

    text-transform: uppercase;

    color: #222222;

    margin-bottom:41px;
    display: flex;
    
}
.inform__tabs__item {
    cursor: pointer;
    width: 27.925%; /* 369/1440 */
    position: relative;
    padding:23px 0px;
    text-align: center;
}



.inform__tab {
    padding-bottom:121px;
    max-width:856px;
    
}
.inform__name{
    padding-bottom:24px;
}
.inform__name,.inform__property{
    font-weight: 600;
    font-size: 21px;
    line-height: 23px;
    /* identical to box height, or 110% */


    color: #222222;
}
.inform__property {
    padding-bottom:7px;
}
.inrom__describe {
    padding-bottom:28px;
    font-weight: 300;
    font-size: 17px;
    line-height: 23px;
    /* or 135% */


    color: #222222;
}
.inform__functions__title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height */

    text-transform: uppercase;
    margin-bottom:27px;
    color: #222222;

}
.infrotm__functions__list li:not(:last-child){
    margin-bottom:10px;
}
.inform__functions__item{
    font-weight: 300;
    font-size: 15px;
    line-height: 23px;
    /* or 153% */


    color: #222222;

    padding-left:10px;
    position: relative;
}
.inform__functions__item::before{
    position: absolute;
    content: '/';
    left: 0;
    color: #F15922;
}
.func__addlist {
    display: none;
}
.more__func {
    margin-top:32px;
    background: transparent;
    text-decoration:underline;
    font-style: italic;
}



























.content {
}
.header {
   
}
.header__container {
    background: #000000;
    position: relative;
    z-index: 10;
}
.header__overflow{
    max-width:1440px;
    

}
.header__content {

    display: flex;
    
    
}
.header__main {
    gap: 62px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}
.header__logo img{
   min-width:100px;
}
.header__nav {
}
.header__nav__list {
    display: flex;
    gap: 75px;
}
.header__nav__item ,.header__contacts{
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    /* identical to box height */
    cursor: pointer;
    text-transform: uppercase;
    transition: color 0.4s ease;
    color: #FFFFFF;
    justify-content: center;
}

.header__nav__item:hover ,.header__contacts:hover{
    color: #6D6D6D;
}
.header__actions {
    display: flex;
    align-items: center;
}
.header__contacts {
    margin:0px 58px;
}
.header__search__block {
    padding:15px 8px 13px 20px;
    border: 1px solid #F9F9F9;
    width:334px;
    display: flex;
}
.header__search__button {
}
.header__input {
  /* 334/1440 */
    flex: 1 1 auto;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    font-style: italic;

    color: #6D6D6D;
    background: transparent;
}
.header__history {
    padding-top:15px;
}
.header__history__list {
    display: flex;
    gap: 16px;
}
.header__history__item  a{
    padding-left:14px;
}












.footer {
}
.footer__content {
}
.footer__row {
    padding:42px 0px 51px 0px;
    display: flex;
    gap: 172px;
    position: relative;
}
.footer__row::before{
    position: absolute;
    height: 1px;
    width: 100%;
    background: #D9D9D9;
    content: '';
    top: 0;
}
.footer__row div:first-child{
    margin-right:30px;
}
.footer__row div:nth-child(2){
  
}
.foot_inp{
    max-width:543px;
}
.footer__row__item {
   
}
.footer__links__row {
    display: flex;
    padding-bottom: 90px;
}
.footer__links__row div:first-child{
    
}
.footer__links__drop-down {
}
.footer__title{
    padding-bottom:22px;
}
.footer__subtitle{
    padding-bottom:20px;
}
.footer__drop__links__title ,.footer__title{
    font-style: italic;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height */


    
    color: #F15922;
}

.footer__drop__title__text , .ft_tit_txt {
    color: #222222;
}
.footer__drop__down__decor {
}
.footer__links__list {
    padding-top: 22px;
}
.footer__links__list li:not(:last-child){
    padding-bottom:15px;
}
.footer__links__item {
}
.footer__contact {
    display: flex;
    justify-content:flex-start;
    
}
.footer__contact__item {
}
.footer__contact__title {
}
.footer__contact__content {
}
.footer__input__title {
    padding-bottom:22px;
}
.footer__input__subtitle {
    padding-bottom:20px;
}

.footer__form {
}
.footer__input__block {
    margin-bottom:26px;
    display: flex;
    width: 100%;
}
.footer__input {
    flex: 1 1 auto;
    padding:12px 15px;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}
.footer__input::placeholder{
    color: #6D6D6D;
}
.footer__input__button {
    display: flex;
    align-items: center;

}
.footer__input__button img{
    margin-left:45px;

}
.button__text {
}
.footer__check {
    margin-bottom:39px;
    display: flex;
    align-items: flex-start;
}
.footer__checkbox {
    margin-right:18px;
    min-width: 21px;
    height: 21px;
    border: 1px solid #6D6D6D;
}
.footer__polic a{
    color: #F15922;
}
.footer__rights {
    background: #000;
 
}
.footer__rights__content {
 
}
.footer__rights__container{
       color: #FFF;
       min-height: 59px;
       display: flex;
       align-items: center;
    
}

.footer__social{
    display: flex;
    gap: 33px;
}


@media(max-width:1342px){

    .header__nav__list{
        gap:35px;
    }
    .header__search__block{
        width: 294px;
    }
    .header__contacts{
        margin:0 35px;
    }
    .header__main{
        gap: 45px;
    }
}
@media(max-width:1080px){
    .header__search__block{
        width: 250px;
    }
    .header__content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__nav__list ,.header__nav{
        
        width: 100%;
    }
    .header__nav__list{
        justify-content: center;
    }
    .header__content{
        gap: 20px;
        padding:20px 0px;
    }
    .header__nav__list{
        gap: 20px;
    }
 
}

.header__official{
    display: none;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    max-width: 137px;
    color: #D9D9D9;
    
}
.burger__button{
    display: none;
}
.burger__button div:not(:last-child){
    margin-bottom:4px;
}




.burger__decor{
    height:4px;
    width: 26px;
    background: #000;

    transition-duration: 0.5s;
    transition-property:
      stroke,
      opacity,
      background,
      transform;
    transition-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
}

.brg_dec_top.burger__show{
    transform: translate(-1px, 10px) rotate(45deg);
  
}
.brg_dec_mid.burger__show{
    opacity: 0;
    transform: scale(0.2);
}
.brg_dec_bottom.burger__show{
    transform: translate(0, -4px) rotate(-45deg);
  
}


.bg__dec_1 {
    transform-origin: center 6px;
}
.bg__dec_2 {
    transform-origin: center 12px;
}
.bg__dec_3 {
    transform-origin: center 6px;
}


.brg_dec_mid {
}
.brg_dec_bottom {
}

.burger__decor {
    
    transition:all 0.4s ease;
    background: #F15922;
    height: 3px;
    width: 29px;

}
.burger__button.burger__show{
    
}
.burger__body {
    padding:140px 12px 0px 12px ;
    position: fixed;
    z-index: 1;
    background: black;
    overflow: auto;
    transform: translate(0, -100%);
    width: 100vw;
    height: 100%;
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: fill-available;
   
}
.mob_inp{
    width: 100%;
}
.burger__hide{
    transition: transform 0.5s cubic-bezier(0.9, 0, 0.1, 1);
    transform: translate(0, -100%);
    
}
.burger__show{
    transition: transform 0.5s cubic-bezier(0.9, 0, 0.1, 1);
    transform:translate(0vw,0%);
}
.burger__container {
    overflow: scroll;
}

@media(max-width:440px){
    .header__nav{
        display: none;
    }
    .header__actions{
        display: none;
    }
    .header__content{
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        
    }
    .header__official{
        display: inline-block;
    }
    .burger__button{
        display: inline-block;
        justify-self: flex-end;
    }
    .header__main{
        justify-content: flex-end;
    }
    .header__contacts{
        justify-content: flex-end;
        margin: 0px;
    }
}
.mob_nav{
    display: inline-block;
    padding:40px 0px 44px 0px;

    
}
.mob_nav ul{
    flex-direction: column;

    
}
.mob_nav ul li{
   justify-content: flex-end;

    
}



